
[ req ]
default_bits        = 2048
default_keyfile     = privkey.pem
distinguished_name  = req_distinguished_name
attributes          = req_attributes
prompt              = no

[ req_distinguished_name ]
C  = US
ST = State
L  = Locality
O  = Organization
OU = Organizational Unit
CN = Common Name

[ req_attributes ]
challengePassword   = A challenge password
unstructuredName    = An optional company name 

